<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="center-logo">
      <img src="assets/Logo-blacksi.JPG" alt="company Logo" class="logo" class="center-logo"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center-grid">
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" class="component-col">
        <ion-title class="component-title">Introduce tu numero de rastreo:</ion-title>
        <ion-item>
          <!-- [(ngModel)]="trackingNumber" -->
          <ion-input  label="Número de rastreo" label-placement="floating" fill="solid" placeholder="Texto de 10 digitos"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="ETA()">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
